<div class="div_contenedor">
    <div class="div_centrado">
        <mat-card class="example-card">
            <form [formGroup]="formGroup" autocomplete="off" name="Formulario" id="new-form">

                <div style="text-align:center;">
                    <mat-card-header>
                        <div class="clsCenter">
                            <mat-card-title style="margin-left:5rem">Registrar Notas</mat-card-title>
                            <br>
                        </div>
                    </mat-card-header>
                </div>

                <mat-card-content>

                    <div class="example-container clsCenter">
                        <mat-form-field class="selectMat selectResp" appearance="fill" style="width: 80%">
                            <mat-label>Alumno</mat-label>
                            <mat-select formControlName="IdAlumno" (selectionChange)="fnListarNotas()">
                                <mat-option *ngFor="let opc of lAlumnos" [value]="opc.idAlumno">
                                    {{opc.sNombrePri}} {{opc.sNombreSec}} {{opc.sApellidoMaterno}}
                                    {{opc.sApellidoPaterno}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="example-container clsCenter">
                        <mat-form-field class="selectMat selectResp" appearance="fill" style="width: 80%">
                            <mat-label>Curso</mat-label>
                            <mat-select formControlName="IdCurso" (selectionChange)="fnListarNotas()">
                                <mat-option *ngFor="let opc of lCursos" [value]="opc.idCurso">
                                    {{opc.sNombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="example-container clsCenter">
                        <mat-form-field appearance="fill" style="width: 80%">
                            <mat-label>Practica 1</mat-label>
                            <input type="number" matInput placeholder="Ingrese la Nota" formControlName="nPractica1">
                        </mat-form-field>
                    </div>

                    <div class="example-container clsCenter">
                        <mat-form-field appearance="fill" style="width: 80%">
                            <mat-label>Practica 2</mat-label>
                            <input type="number" matInput placeholder="Ingrese la Nota" formControlName="nPractica2">
                        </mat-form-field>
                    </div>

                    <div class="example-container clsCenter">
                        <mat-form-field appearance="fill" style="width: 80%">
                            <mat-label>Practica 3</mat-label>
                            <input type="number" matInput placeholder="Ingrese la Nota" formControlName="nPractica3">
                        </mat-form-field>
                    </div>

                    <div class="example-container clsCenter">
                        <mat-form-field appearance="fill" style="width: 80%">
                            <mat-label>Parcial</mat-label>
                            <input type="number" matInput placeholder="Ingrese la Nota" formControlName="nParcial">
                        </mat-form-field>
                    </div>

                    <div class="example-container clsCenter">
                        <mat-form-field appearance="fill" style="width: 80%">
                            <mat-label>Final</mat-label>
                            <input type="number" matInput placeholder="Ingrese la Nota" formControlName="nFinal">
                        </mat-form-field>
                    </div>


                </mat-card-content>
                <mat-card-actions>
                    <div class="clsCenter">
                        <button *ngIf="dataForm.length==0" mat-raised-button color="primary"
                            (click)="fnRegistrar()">Registrar Nota</button>
                        <button *ngIf="dataForm.length>0" mat-raised-button color="primary"
                            (click)="fnRegistrar()">Editar Nota</button>

                        <button mat-raised-button color="accent" (click)="fnLimpiarCampos()">Limpiar </button>
                    </div>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>